@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в учебный отдел</h1>
    <p>Узнать больше о методах API <a href="https://docs.microsoft.com/aspnet/core">Тут</a>.</p>
</div>
